@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}


.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    justify-content: space-between;
}

.header img {
    height: 50px;
    margin-right: 10px;
}

.header-text {
    flex-grow: 1;
    margin: 0;
}

/* Navigation bar styling */
.navbar {
    display: flex;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px; /* Adds spacing between navigation items */
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #d1e7ff; /* Lighter blue hover effect */
    color: #007bff; /* Text color on hover */
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px lightblue;
}

/* style the search box */
#search-box {
    padding: 1%;
    gap: 8px;
    align-items: center;
    /* margin: 1%; */
    border-radius: 999px;
    border: none;
    background-color: rgb(223, 227, 243);
    box-shadow: rgba(17, 25, 46, 0.1) 0px 0px 0px 1px inset;
    color: rgb(1, 5, 15);
}